@model AllViewModel
@{
    ViewData["Title"] = "Employee Registration Form";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>$("#employeeActive").addClass("active")</script>

<style>

    .camera {
        /*padding: 8px;*/
        background-color: antiquewhite;
        /*border-radius: 48%;*/
        color: whitesmoke;
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        cursor: pointer;
    }

        .camera:hover {
            margin-top: -5.90px;
            margin-left: 54px;
            border: 1.5px solid white;
        }

    .profileImage {
        /*border: 5px solid white;*/
        width: 100%;
        height: 100%;
        /*border-radius: ;*/
        object-fit: fill;
        margin-top: 0px;
        /*position:absolute;*/
        margin-left: 100px;
        left: 0px;
        right: 0px;
    }
</style>

@if (ViewBag.Alert != "empty")
{
    <div class="alert alert-success alert-dismissible" role="alert" id="divAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @ViewBag.Alert
    </div>
}


@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorize

@if (!(await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{

    @await Html.PartialAsync("AccessDeniedPartial")


    ViewBag.view = "d-none";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}


@if ((await authorize.AuthorizeAsync(User, "ViewRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "d-none";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "InsertRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Delete = "d-none";
    ViewBag.Edit = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    ViewBag.Delete = "d-none";
}

@if ((await authorize.AuthorizeAsync(User, "DeleteRolePolicy")).Succeeded)
{
    ViewBag.view = "";
    ViewBag.Insert = "";
    ViewBag.Edit = "";
    ViewBag.Delete = "";
}


<div class="row">

    <div class="col-md-10" style="text-align:center">

        <h2 class="text-center alert bg-yellow bg-darken-2 box-shadow-1" style="background-color:#ffffff;">
            Employee Registration Form
        </h2>
        <hr />
    </div>
    <div class="col-md-2">
        <button id="btnList" class="btn btn-info box-shadow-1">Employee List</button>
    </div>
</div>

<div class="container-fluid card   @ViewBag.view">

    <div class="card col-md-12">
        <div class="card-header ">
            <h4 class="card-title ">
                <strong></strong>
            </h4>
            <hr />
            <a class="heading-elements-toggle">
                <i class="fa fa-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">

                    <li>
                        <a data-action="expand"><i class="ft-maximize"></i></a>
                    </li>

                </ul>
            </div>

        </div>

        <section id="divInput" style="">

            @Html.AntiForgeryToken()


            <form asp-controller="Employee" asp-action="EmployeeRegistration" enctype="multipart/form-data" data-ajax-success="funSuccessEmployee(data)" method="post" id="frmEmployee">
                <div class="col-md-12 row">
                    <input hidden asp-for="employee.oldEmail" value="'0'" />
                    <input hidden asp-for="employee.defalut" value="0" />
                    <input hidden asp-for="employee.EmployeeId" value="0" />
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="employee.Name" class=""></label>
                            <input asp-for="employee.Name" placeholder="Employee Name" class="form-control" />
                            <span asp-validation-for="employee.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.FatherName" class=""></label>
                            <input asp-for="employee.FatherName" placeholder="  Father Name" class="form-control" />
                            <span asp-validation-for="employee.FatherName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.Phone" class=""></label>
                            <input asp-for="employee.Phone" placeholder=" Phone Number " class="form-control" />
                            <span asp-validation-for="employee.Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.Email" class=""></label>
                            <input asp-for="employee.Email" placeholder=" Email Address" class="form-control" />
                            <span asp-validation-for="employee.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.Province" class=""></label>
                            <input asp-for="employee.Province" placeholder=" Province " class="form-control" />
                            <span asp-validation-for="employee.Province" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.District" class=""></label>
                            <input asp-for="employee.District" placeholder="District" class="form-control" />
                            <span asp-validation-for="employee.District" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.Vilage" class=""></label>
                            <input asp-for="employee.Vilage" placeholder="Vilage" class="form-control" />
                            <span asp-validation-for="employee.Vilage" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.IdCardNo" class=""></label>
                            <input asp-for="employee.IdCardNo" placeholder="ID Card Number" class="form-control" />
                            <span asp-validation-for="employee.IdCardNo" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-12 mb-2">
                                <label asp-for="employee.EmployeeType_Id" class=""></label>
                                <select asp-for="employee.EmployeeType_Id"style="height:45px;" class="form-control" asp-items="@ViewBag.EmployeeType">
                                    <option value="">Select employee type</option>
                                </select>
                                <span asp-validation-for="employee.EmployeeType_Id" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 mb-2">
                                <label asp-for="employee.SalaryType" class=""></label>
                                <select asp-for="employee.SalaryType" style="height:45px;" class="form-control">
                                    <option value="">Select salary type</option>
                                    <option value="Fixed">Fixed</option>
                                    <option value="Hourly">Hourly</option>
                                    <option value="Percentage">Percentage</option>
                                </select>
                                <span asp-validation-for="employee.SalaryType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.Salary" class=""></label>
                            <input asp-for="employee.Salary" placeholder="Salary" class="form-control" />
                            <span asp-validation-for="employee.Salary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.HireDate" class=""></label>
                            <input asp-for="employee.HireDate" type="datetime-local" style="margin:0px;padding:8px;" placeholder="Hire Date" class="form-control" />
                            <span asp-validation-for="employee.HireDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="employee.FireDate" class=""></label>
                            <input asp-for="employee.FireDate" type="datetime-local" style="margin:0px;padding:8px;" placeholder="Fire Date" class="form-control" />
                            <span asp-validation-for="employee.FireDate" class="text-danger"></span>
                        </div>

                        <div class="form-group ">

                            <div class="col-md-12 row" style="margin:0px;padding:0px;">
                                <div class="col-md-6 "style="padding-left:0;" >
                                    <label asp-for="employee.Photo" class=""></label>
                                    <button type="button" class="btn btn-info btn-block " style="margin-top:0px;" id="browseBtn">Browse Image</button>
                                    <button type="button" class="btn btn-danger btn-block " style="margin-top:52px;" id="browseCancel"> Clear Image</button>
                                </div>

                                <div class="border col-md-6 text-center">
                                    <input asp-for="employee.Photo" class="d-none" accept="image/jpeg, image/jpg,image/png" name="img" style="border:1px solid" id="browseInput" />
                                    <img src="~/images/StaticImages/browse.png" class=" profileImage" id="browseImg" style="height:175px; padding:0px;margin:0px;cursor:pointer;" />
                                </div>
                            </div>


                        </div>
                        <br />
                        <div class="form-group  @ViewBag.Insert" style="margin-top:13px;  ">
                            <button type="reset" id="btnReset" class="btn btn-warning btn-icon-md">Clear</button>
                            <button type="submit" id="btnSubmitEmployee" class="btn btn-primary btn-icon-md">Register</button>

                        </div>

                    </div>

                </div>


            </form>

        </section>

        <section id="divTable" style="display:none">

            <table class="table table-responsive table-striped table-condensed table-bordered dataTables_scrollHead" id="tblEmployee">
                <thead class="scrollable-container ps--scrolling-x">
                    <tr role="row">

                        <th style="max-width:1%;">#</th>
                        <th class="col-md-1">Employee name</th>
                        <th class="col-md-1">F/name</th>
                        <th class="col-md-1">Phone</th>
                        <th class="col-md-1">Email</th>
                        <th class="col-md-1">Province</th>
                        <th class="col-md-1">District</th>
                        <th class="col-md-1">Village </th>
                        <th class="col-md-1"> ID Card No</th>
                        <th class="col-md-1"> Employee Type </th>
                        <th class="col-md-1">  Salary Type</th>
                        <th class="col-md-1">  Salary</th>
                        <th class="col-md-1"> Hire Date</th>
                        <th class="col-md-1"> Fire Date</th>
                        <th class="col-md-1">  Photo</th>
                        <th style="max-width:1%; " class=" @ViewBag.Edit">  Edit</th>
                        <th style="max-width:1%;" class=" @ViewBag.Delete">  Delete</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>
        </section>
          
    </div>
</div>

<form data-ajax="true" asp-action="DeleteEmployee" data-ajax-method="post" asp-controller="Employee" data-ajax-success="deleted(data)">
    <input hidden id="deleteId" asp-for="employee.EmployeeId" />
    <input hidden id="deleteEmail" asp-for="employee.Email" />
    <button type="submit" class="d-none" id="btnDelete"></button>
</form>


@section Scripts {
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    @await Html.PartialAsync("_ValidationScriptsPartial")


    <script>
        var show = true;
        $(document).ready(function () {

            loadEmployee();
            $("#divAlert").delay(6000).fadeOut();
           
            $("#frmEmployee")[0].reset();
            $("#browseImg").attr("src", "/images/StaticImages/browse.png");
            $("#btnr").click(function () {

                $("#divDetails").printThis({
                    debug: false,               // show the iframe for debugging
                    //importCSS: true,            // import parent page css
                    importStyle: true,         // import style tags
                    printContainer: true,       // print outer container/$.selector
                    loadCSS: "",                // path to additional css file - use an array [] for multiple
                    pageTitle: "",              // add title to print page
                    removeInline: false,        // remove inline styles from print elements
                    removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
                    // printDelay: 333,            // variable print delay
                    // header: "<h1 style='text-content: center; margin-bottom: 5px;'>افغان فارما شرکت کارمند معاش معلومات!</h1>" ,              // prefix to html
                    // footer: "<h2 style='justify-content: center; margin-top: 5px;'>آدرس کندهار ولایت جواد حسن مارکیټ!</h2>",              // postfix to html
                    base: false,                // preserve the BASE tag or accept a string for the URL
                    formValues: true,           // preserve input/form values
                    canvas: false,              // copy canvas content
                    doctypeString: '...',       // enter a different doctype for older markup
                    removeScripts: false,       // remove script tags from print content
                    copyTagClasses: true,      // copy classes from the html & body tag
                    beforePrintEvent: null,     // function for printEvent in iframe
                    beforePrint: null,          // function called before iframe is filled
                    afterPrint: null            // function called before iframe is removed
                });

            })

        })
    </script>
    @* image code *@
    <script>
        $("#browseBtn").click(function () {
            $("#browseInput").trigger("click");
        })
        $("#browseImg").click(function () {
            $("#browseInput").trigger("click");
        })
        $("#browseInput").change(function () {
            if (this.files && this.files[0]) {
                var fileReader = new FileReader();
                fileReader.readAsDataURL(this.files[0]);

                fileReader.onload = function (x) {

                    if (x != null)



                        $("#browseImg").attr("src", x.target.result);
                    $("#employee_defalut").val("0");


                }
            }
        })
    </script>
    @* employee script functions *@
    <script>
        function loadEmployee() {
            $.ajax({
                url: "/Employee/LoadEmployee/",
                type: "POST",
                contentType: "application/json",
                // data: '{txt:"' + $("#txt").val() + '"}',
                datatype: "JSON",
                success: function (result) {
                    var tr = "";
                    console.log(result)
                    $.each(result, function (i, col) {

                        tr += '<tr  role="row">' +
                            '<td >' + (i + 1) + '</td>' +
                            '<td >' + col.name + '</td>' +
                            '<td >' + col.fName + '</td>' +
                            '<td >' + col.phone + '</td>' +
                            '<td >' + col.email + '</td>' +
                            '<td >' + col.province + '</td>' +
                            '<td >' + col.district + '</td>' +
                            '<td >' + col.village + '</td>' +
                            '<td >' + col.idCardNo + '</td>' +
                            '<td >' + col.employeeType + '</td>' +
                            '<td>' + col.salaryType + '</td>' +
                            '<td>' + col.salary + '</td>' +
                            ' <td>' + col.hireDateShow + '</td>' +
                            ' <td>' + col.fireDateShow + '</td>' +
                            ' <td><img src=' + col.photo + ' height="100" width="100"></td>' +
                            ' <td  class="@ViewBag.Edit"><button type="button" onclick="fnEditEmployee(' + col.employeeId + ',\'' + col.name + '\',\'' + col.fName + '\',\'' + col.phone + '\',\'' + col.email + '\',\'' + col.province + '\',\'' + col.district + '\',\'' + col.village + '\',\'' + col.idCardNo + '\',\'' + col.employeeTypeId + '\',\'' + col.salaryType + '\',\'' + col.salary + '\',\'' + col.hireDate + '\',\'' + col.fireDate + '\',\'' + col.photo + '\')" class="btn btn-primary"><i class="fa fa-edit"></i></button></td>' +
                            ' <td  class="@ViewBag.Delete"><button type="button" onclick="fnDeleteEmployee(' + col.employeeId + ',\'' + col.email + '\')" class="btn btn-danger"><i class="fa fa-trash"></i></button></td>' +
                            '</tr>';

                    })
                    var table = $("#tblEmployee").dataTable();
                    table.fnDestroy();
          
                    $("#tblEmployee>tbody").html("").html(tr);
               
                    $("#tblEmployee").DataTable({
                        "lengthMenu": [[5, 10, 20, -1], [5, 15, 50, "All"]],
                            stateSave: true,
                        })
                    
                },
                error: function (err) {
                    console.log(err);
                },
                complete: function () {

                }

            })
        }
        function funSuccessEmployee(data) {


            loadEmployee();

            $("#frmEmployee")[0].reset();

            toastr.success(data, '', { "progressBar": true, positionClass: 'toast-top-right', containerId: 'toast-top-right' });
            $("#btnSubmitEmployee").text("Register ");
        }
        var list = true;
        function fnEditEmployee(id, name, fatherName,phone,email, province, district, vilage, idcardno, employeetype, salarytype, salary, hiredate, firedate, pic) {
            //  alert(id + "," + name + "," + latinname + "," + category)

            $("#employee_EmployeeId").val(id);
            $("#employee_Name").val(name);
            $("#employee_FatherName").val(fatherName);
            $("#employee_Province").val(province);
            $("#employee_District").val(district);
            $("#employee_Vilage").val(vilage);
            $("#employee_IdCardNo").val(idcardno);
          
            $("#employee_EmployeeType_Id").val(employeetype);
            $("#employee_SalaryType").val(salarytype);
            $("#employee_FireDate").val(firedate);
            $("#employee_Phone").val(phone);
            $("#employee_Email").val(email);
            //$("#employee_Address").val(address);
            $("#employee_Salary").val(salary);
            $("#employee_HireDate").val(hiredate);
            $("#browseImg").attr("src", pic);
            $("#employee_defalut").val(pic);
            $("#employee_oldEmail").val(email);
            $("#btnSubmitEmployee").text("Update");

            $("#divInput").animate({
                left: '250px',
                opacity: '0.9',

            }).show(400);


            $("#divTable").animate({

            }).hide(400);

            $("#btnList").text("Employee List ")
            list = true;

        }
        function fnDeleteEmployee(comId,email) {
            $("#deleteId").val(comId);
            $("#deleteEmail").val(email);
            swal({
                title: "Are you sure to delete ???",
                text: "",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Yes",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                }
            }).then((isConfirm) => {
                if (isConfirm) {
                    $("#btnDelete").trigger("click");
                }
            });

        }
        function deleted(data) {
            toastr.success(data, '', { "progressBar": true, positionClass: 'toast-top-right', containerId: 'toast-top-right' });
            loadEmployee();
        }
    </script>
    @* show and hide tables code *@
    <script>
        $("#browseCancel").click(function () {

            $("#browseImg").attr("src", "/images/StaticImages/browse.png");
            $("#browseInput").val("");
            $("#employee_defalut").val("/images/StaticImages/browse.png");


        })
        $("#btnReset").click(function () {

            $("#browseImg").attr("src", "/images/StaticImages/browse.png");
            $("#browseInput").val("");
            $("#btnSubmitEmployee").text("Register")
            $("#frmEmployee")[0].reset();


        })
        $("#btnEmployeeSalaryShow").click(function () {
            $("#divInput").hide();
            $("#divTable").hide();
            $("#divTableSalary").show(300);
            $("#divDetails").hide();
            $("#btnr").hide();
            LoadEmployeeSalary();

        })
        $("#btnCloseSalaryPayment").click(function () {
            $("#btnResetSalary").trigger("click");

        })
        $("#btnList").click(function () {
            if (list) {

                $("#divInput").animate({
                    left: '250px',
                    opacity: '0.9',

                }).hide(400);


                $("#divTable").animate({

                }).show(400);
                $("#divTable").removeClass("d-none")

                $("#btnList").text("Employee Registration")
                list = false;


                loadEmployee();

                $("#divTableSalary").hide();
                $("#divDetails").hide();
                $("#btnr").hide();

            } else {
                $("#divInput").animate({
                    left: '250px',
                    opacity: '0.9',

                }).show(400);


                $("#divTable").animate({

                }).hide(400);

                $("#btnList").text("Employee list")
                list = true;
                $("#divTableSalary").hide();
                $("#divDetails").hide();
                $("#btnr").hide();
            }

        });
    </script>

}
